<div class="text-center py-2 text-muted">&copy; Copyright 2023 Stanislav Petrov</div>

<script src="/public/assets/scripts/react@18.2.0.js"></script> <!-- Peplace with .min for production -->
<script src="/public/assets/scripts/react-dom@18.2.0.js"></script> <!-- Peplace with .min for production -->
<script src="/public/assets/scripts/babel@7.21.2.min.js"></script> <!-- Peplace with .min for production -->
