<!DOCTYPE html>
<html lang="en">

<head>
  <title>My4uM</title>
  <link rel="icon" type="image/x-icon" href="/public/assets/images/favicon.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page CSS         --> <link href="/public/assets/css/style.css" rel="stylesheet">
  <!-- Bootstrap CSS    --> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- JQuery           --> <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  <!-- Parse server SDK --> <script src="https://npmcdn.com/parse/dist/parse.js"></script>
  <!-- Bootstrap JS     --> <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <!-- React            --> <script defer crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <!-- React DOM        --> <script defer crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <!-- Babel            --> <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <!-- Page JS          --> <script src="/public/assets/js/script.js" type="text/babel"></script>
</head>

<body data-bs-theme='light' style="padding-top: 56px;">
  <img src="/public/assets/images/wallpaper-05.jpg" style="position: fixed; width: 100%; height: 100%; object-fit: cover; z-index: -1;">

  <header>
    <nav class="navbar navbar-expand-md fixed-top bg-body-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">My4uM</a>
        <img class="navbar-toggler p-0" id="navbar-pic" src="/public/assets/images/default_user.jpg" height="34px" style="border-radius: 50%;"/>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" id="profile-link" href="" >Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="signup-link" href="" >Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="login-link" href="" >Log In</a>
            </li>
          </ul>
          <div class="navbar-text p-2" id="current-user"></div>
          <a class="nav-link collapse" id="logout-link" href="">Log Out</a>
        </div>

      </div>
    </nav>

    <div id="info-message-wrapper" style="position: fixed; width: 100%; z-index: 9999;"></div>

    <div class="container px-1 collapse" id="signup-container">
      <div class="card rounded-1 m-2 p-3">
        <h3>Sign Up</h3>
        <form id="signupForm" name="signupForm" class="row g-2">
          <div class="form-floating mb-2">
            <input
              type="email"
              class="form-control"
              id="signupEmail"
              name="signupEmail"
              placeholder="Email"
              minlength="8"
              maxlength="30"
              required>
              <label for="signupEmail">Email address</label>
          </div>
          <div class="form-floating mb-2">
            <input
              type="password"
              class="form-control"
              id="signupPassword"
              name="signupPassword"
              placeholder="Password"
              minlength="8"
              maxlength="30"
              required>
              <label for="signupPassword">Password</label>
          </div>
          <div>
            <button id="signupSubmit" class="btn btn-outline-primary" type="submit">Sign Up</button>                
            <button id="signup-cancel" class="btn btn-outline-secondary" type="button">Cancel</button>                
          </div>
        </form>
      </div>
    </div>

    <div class="container px-1 collapse" id="login-container">
      <div class="card rounded-1 m-2 p-3">
        <h3>Log In</h3>

        <form id="loginForm" name="loginForm" class="row g-2">
          <div class="form-floating mb-2">
            <input
              type="email"
              class="form-control"
              id="loginEmail"
              name="loginEmail"
              placeholder="Email"
              minlength="8"
              maxlength="30"
              required>
            <label for="loginEmail" class="form-label">Email address</label>
          </div>
          <div class="form-floating mb-2">
            <input
              type="password"
              class="form-control"
              id="loginPassword"
              name="loginPassword"
              placeholder="Password"
              minlength="8"
              maxlength="30"
              required>
            <label for="loginPassword" class="form-label">Password</label>
          </div>
          <div>
            <button id="loginSubmitBtn" class="btn btn-outline-primary" type="submit">Log In</button>
            <button id="login-cancel" class="btn btn-outline-secondary" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </header>

  <main style="opacity: 0.85;" class="mt-1">
    <!-- React feed -->  <div id="post-feed" class='container-sm text-center'></div>
  </main>
 
</body>
</html>
