<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
</head>
<body>
	<section id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box-settings box-register">
						<div class="wrap-login100">
							<form class="validate-form" method="POST" action="/contact">
								<h2 class="title-screen">
									Register into the App and select your favorite kind of movie!
								</h2>
								<div class="form-group">
									<input type="text" name="firstNameContact" placeholder="First Name" class="form-control" value="<%= infoUser.firstNameContact %>">
								</div>								
								<div class="form-group">
									<div class="col-sm-2">
										<h6>Select your favorite Kind of Movie:</h6>
									</div>
									<div class="col-sm-10">	
									 	<div class="input-group-append">
									    	<select name="selectMovies">
											  <option value="action">Action</option>
											  <option value="drama">Drama</option>
											  <option value="comedy">Comedy</option>
											</select>
									  	</div>
									</div>
								</div>
								<div class="form-group">
									<input type="text" name="phoneContact" placeholder="Phone" class="form-control" value="<%= infoUser.phoneContact %>">
								</div>
								<% if (Message != 'undefined' ? Message  : '' ) { %>
									<div class="alert alert-<%= typeStatus %>" role="alert">
									  <p><%= Message %></p>
									</div>
								<% } %>
								<div class="form-group">
									<button class="btn-login btn">
										Send
									</button>
								</div>
							</form>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>