<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
</head>
<body>
	<section id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6" align="center">
					<div class="box-settings box-password">
						<div class="wrap-login100">
							<form class="validate-form" method="POST" action="/users/forgot-password">
								<h2 class="title-screen">
									Retrieve your access
								</h2>
								<p>Insert your email address</p>
								<div class="form-group">
									<input type="text" name="email" placeholder="Email" class="form-control" value="<%= infoUser.email %>">
								</div>
								<% if (resetPass != 'undefined' ? resetPass  : '' ) { %>
									<div class="alert alert-<%= typeStatus %>" role="alert">
									  <p><%= resetPass %></p>
									</div>
								<% } %>
								<div class="form-group">
									<button class="btn-login btn">
										Reset Password
									</button>
								</div>
							</form>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>