<!DOCTYPE html>
<html lang="en">

<head>
  <title>My4uM</title>
  <%- include('partials/head'); %>
</head>

<body data-bs-theme='light' class="bg-secondary" style="padding-top: 56px;">

  <header>
    <%- include('partials/nav'); %>
    <div id="info-message-wrapper" class="mb-1" style="width: 100%;"></div>
  </header>

  <main>
    <!-- React feed -->
    <div id="feed-wrapper"></div>
  </main>

  <footer>
    <%- include('partials/footer'); %>
    <script src="/public/assets/js/script.js" type="text/babel"></script>
  </footer>
 
</body>
</html>