* {
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI Historic', sans-serif;
  --nav-height: 3em;
  --border-radius: 2px;

  --app-hue: 240;

  --nav-backcolor:            hsl(var(--app-hue), 50%, 50%);
  --nav-link-hover-backcolor: hsl(var(--app-hue), 60%, 40%);

  --post-backcolor:           hsl(var(--app-hue), 35%, 96%);
  --post-body-backcolor:      hsl(var(--app-hue), 35%, 99%);

}

body {
  padding: var(--nav-height) 2% 0;
  margin: 0;
  /* padding-top: var(--nav-height); */
  background-color: grey;
}


#wallpaper {
  position: fixed;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  height: calc( 100% - var(--nav-height) );
  object-fit: cover;
  z-index: -1;
}

#back-drop {
  position: fixed;
  top: var(--nav-height);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.9;
}


/*    nav    */
.nav {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: fixed;
  top: 0;
  height: var(--nav-height);
  left: 0;
  right: 0;
  background-color: var(--nav-backcolor);
  z-index: 2000;
}

.nav .logo {
  font: 1.4em;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.nav .link {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.7s;
}

.nav .link:hover {
  background-color: var(--nav-link-hover-backcolor);
  cursor: pointer;
}

.nav-current-user {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 8px;
}



/*    Form    */
.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--nav-backcolor);
  padding: 0 20px 20px 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px 0 var(--nav-link-hover-backcolor);
  z-index: 2000;
}

.input {
  display: block;
  width: 300px;
  padding: 8px;
  margin: 0 0 20px;
  border: 0;
  border-radius: var(--border-radius);
}

.form button {
  border-radius: var(--border-radius);
  border: 0;
  width: 145px;
  height: 40px;
}

.form .cancel-button {
  margin-right: 5px;
}

.form .submit-button {
  margin-left: 5px;
}



h1.loading {
  color: white;
  margin: 200px 0;
  text-align: center;
}


/* -------- Post -------- */

.post {
  display: flex;
}

.post-lines {
  width: 0.75rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--post-backcolor);
  border-radius: var(--border-radius);
  margin-top: 8px;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-avatar {
  height: 2rem;
  border-radius: 50%;
  padding: 4px;
}


p.post-author {
  margin: 0 auto 0 4px;
  font-size: 0.8rem;
}

p.post-age {
  margin: 0 8px;
  font-size: 0.7rem;
}

p.post-body {
  background-color: var(--post-body-backcolor);
  margin: 0;
  padding: 8px;
  font-size: 1rem;
}

.post-footer {
  display: flex;
  justify-content: flex-end;
}

.post .input3 {
  width: 100%;
  padding: 8px;
  margin-right: 6px;
  border: 0;
  border-radius: var(--border-radius);
}

.post-footer button {
  border-radius: var(--border-radius);
  border: 1px solid var(--nav-backcolor);
  color: var(--nav-backcolor);
  margin: 4px 4px 4px 0;
  padding: 2px 4px;
}

.post-footer button:hover {
  color: var(--post-body-backcolor);
  background-color: var(--nav-link-hover-backcolor);
}



.input2 {
  width: 100%;
  padding: 8px;
  margin-right: 6px;
  border: 0;
  border-radius: var(--border-radius);
}

.create-post {
  padding-top: 8px;
  display: flex;
}


.footer {
  color: white;
  text-align: center;
}

.please-log-in {
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

